[submodule "suite61pcb/marbastlib"]
	path = suite61pcb/marbastlib
	url = https://github.com/ebastler/marbastlib.git
[submodule "suite61pcb/Keebio-Parts.pretty"]
	path = suite61pcb/Keebio-Parts.pretty
	url = https://github.com/keebio/Keebio-Parts.pretty.git
